# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# OS / Editor
.DS_Store
.vscode/
.idea/


# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.out
*.plan
plan.out
plan.txt

# Local test files
tfplan
tfplan.txt

# Keys
*.pem
